@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.underline--magical {
  background-image: linear-gradient(120deg, #32ea48 0%, #54b8ea 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  font-weight: 600;
}
.underline--magical:hover {
  background-size: 100% 86%;
}

